.outer-container{
  width: 80%;
  background-color: #559B81;
}
.inner-container {
  background-color: #243742;
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
}
